@import 'vazir-font/fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

::selection {
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ffe259;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: "Vazir-Persian";
    font-size: 20px;
}

.calculator {
    position: relative;
    display: grid;
}

.calculator .value {
    grid-column: span 4;
    text-align: right;
    border: none;
    outline: none;
    height: 100px;
    padding: 10px;
    font-size: 18px;
    cursor: default;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.calculator span {
    display: grid;
    width: 60px;
    height: 60px;
    color: #fff;
    background: rgb(73, 73, 73);
    place-items: center;
    border: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer;
}

.calculator span:active {
    background: rgb(0, 0, 0);
}

.calculator span.clear {
    grid-column: span 2;
    width: 122px;
    background: rgb(255, 36, 145);
}

.calculator span.plus {
    grid-row: span 2;
    height: 122px;
}

.calculator span.equal {
    background: rgb(1, 140, 255);
    border-bottom-right-radius: 10px;
}

.calculator span.zero {
    border-bottom-left-radius: 10px;
}